*{margin: 0; padding: 0; box-sizing: border-box;}

/* CONFIGURAÇOES DAS FONTES */
h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 3.157rem;    
}

h5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 1.333rem;    
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

small {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: .75rem;
}

/* FIM DAS FONTES */


.container {
    background-color: #f1f1f1;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

/* AQUI COMEÇA O HEADER */

.header {
    background-color: #19191e;
    margin: 0;
    padding: 1rem 2rem;
    height: 10vh;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    grid: 100%;
    grid-template-columns: 100%;

    
}

.navbar {
    display: flex;    
    gap: 1rem;
}

input {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #f1f1f1;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    border: solid transparent;
    cursor: pointer;
} input:hover {
    width: 2rem auto;
    height: auto;
    border-bottom-color: #e80061;
    
}

#logo-onebitcode {
    padding: 0;
    margin: 0;
    
}

/* FIM DO HEADER */

.titulo-pagina {
    background-color: #f2f2f2;
    padding: 10vh 0vh;
    width: 100%;
    height: 100%;
    max-height: max-content;
    text-align: center;
    display: grid;
    grid-row-gap: 1rem;   
}

/* AQUI COMEÇA O MAIN-CONTENT */

.main-content {
    background-color: #f2f2f2;
    margin: 0;
    padding: 2rem;
    padding-bottom: 7rem;
    max-width: 75%;
    display: grid;
    grid-template-columns: 3fr, 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
       
}

.boxes {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-height: 100%;
    border-radius: 2%;
    cursor: pointer;
} .boxes:hover {
    box-shadow: 8px 0px 30px rgba(25, 25, 30, 0.151);
    transition: .7s;
}

.text-boxes {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    display: grid;
    row-gap: 1vw;
}

#box {
    max-width: 50vh;
    border-radius: 2% 2% 0 0 ;
    max-width: 100%;
}

/* FIM DO MAIN-CONTENT */

/* AQUI COMEÇA O ASIDE */

.aside {
    background-color: #08080a;
    margin: 0;
    padding: 2rem;
    max-width: 25%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-items: center;
    grid-auto-rows: min-content;
    color: #f2f2f2;
    
}

.boxes-extra {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-height: 100%;
    border-radius: 2%;
    max-width: 100%;
    height: fit-content;
    justify-items: center;
    font-weight: 200;
    color: #19191e;
}

/* FIM DO ASIDE */


/* AQUI COMEÇA O FOOTER */

.footer {
    background-color: #19191e;
    margin: 0;
    padding: 1rem 2rem;
    height: 10vh;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    grid: 100%;
    grid-template-columns: 100%;
    
}

#copyright {
    color: #ababab;
    display: flex;
    align-items: center;
}

#voltartopo {
    text-decoration: none;
    background-color: #19191e;
    color: #f2f2f2;
    border: none;
    display: flex;
    align-items: center;
    transition: margin-top 250ms;
    
} #voltartopo:hover {
    width: 2rem auto;
    height: auto;
    color: #e80061;
    margin-top:-8px;
}

/* FIM DO FOOTER */


@media(max-width: 2560px){
    .main-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 1023px) {
    .main-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 427px) {
    .main-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 100%;
    }
    .aside {
        max-width: 100%;
    }
}

@media(max-width: 426px) {

    .header {
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 4vh;
    }
    #logo-onebitcode {
        height: 6vh;
    }
    .container {
        flex-direction: column;
    }
    .main-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 100%;
        padding: 1rem;
    }
    .aside {
        max-width: 100%;
    }
    .footer {
        padding: 5rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        gap: 10vh;
    }
    #iconrock {
        height: 20vh;
    }
    
}

@media(max-width: 322px) {

    .header {
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 4vh;
    }
    #logo-onebitcode {
        height: 6vh;
    }

    .titulo-pagina {
        padding: 10vh 3vh;
    }

    .container {
        flex-direction: column;
    }
    .main-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 100%;
        padding: 1rem;
    }
    .aside {
        max-width: 100%;
    }
    .footer {
        padding: 5rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        gap: 10vh;
    }
    #iconrock {
        height: 20vh;
    }
    
}

